<!DOCTYPE html>
<html lang="ch">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>个人爱好[白菜菊花]</title>
  <link rel="icon" href="https://h5.baochaojianghu.com/favicon.png?v=1">
  <link rel="stylesheet" href="https://h5.baochaojianghu.com/css/index.css?v=44">
  <link rel="stylesheet" href="https://h5.baochaojianghu.com/css/image.css?v=77">
  <link rel="stylesheet" href="https://h5.baochaojianghu.com/ele/index.css">
  <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div id="main" v-cloak>
  <div v-if="loading" class="loading">
    <div>爆炒江湖图鉴</div>
  </div>

  <aside class="aside">
    <el-drawer class="left-bar" :visible.sync="leftBar" direction="ltr" size="240px" :with-header="false">
      <div class="left-bar-header">
        <div class="header">
          <img class="img-header" src="https://h5.baochaojianghu.com/images/saltFish.png" alt="咸公主">
          <div class="title" @click="checkNav(0)">白菜菊花图鉴</div>
          <div class="sub-title">by 小鱼、L</div>
        </div>
      </div>
      <div class="body">
        <div class="nav" v-for="item in nav" :key="item.id" :class="item.id === navId ? 'active' : ''" @click="checkNav(item.id)">
          <i :class="item.icon"></i>
          {{ item.name }}
        </div>
      </div>
    </el-drawer>

    <el-drawer class="right-bar" :visible.sync="rightBar" size="300px" :with-header="false">
      <div class="right-bar-body" :class="navId == 2 ? 'scroll-chef' : ''">
        <div v-show="navId === 2">
          <div class="box">
            <div class="box-title">展示列</div>
            <div class="hr"></div>
            <span class="checkbox" @click="selectAllCol('chefCol')">全选</span>
            <span v-for="(val, key) in chefColName" :key="key" class="checkbox" :class="chefCol[key] ? 'active' : ''" @click="chefCol[key] = !chefCol[key]">{{ val }}</span>
          </div>
          <div class="box">
            <div class="box-title">筛选</div>
            <div class="hr"></div>
            <div class="checkbox-contain">
              <span class="checkbox" v-for="(val, key) in chefFilter.rarity" :key="key" :class="val ? 'active' : ''" @click="chefFilter.rarity[key] = !val">{{ key }}星</span>
            </div>
            <div class="checkbox-contain">
              <span class="checkbox" :class="chefFilter.got ? 'active' : ''" @click="chefFilter.got = !chefFilter.got">已有</span>
            </div>
          </div>
        </div>
        <div v-show="navId === 3">
          <div class="box">
            <div class="box-title">展示列</div>
            <div class="hr"></div>
            <span class="checkbox" @click="selectAllCol('equipCol')">全选</span>
            <span v-for="(val, key) in equipColName" :key="key" class="checkbox" :class="equipCol[key] ? 'active' : ''" @click="equipCol[key] = !equipCol[key]">{{ val }}</span>
          </div>
          <div class="box">
            <div class="box-title">筛选</div>
            <div class="hr"></div>
            <div class="checkbox-contain">
              <span class="checkbox" v-for="n in 3" :key="n" :class="equipFilter.rarity[n] ? 'active' : ''" @click="equipFilter.rarity[n] = !equipFilter.rarity[n]">{{ n }}星</span>
            </div>
          </div>
        </div>
        <div v-show="navId === 12">
          <div class="box">
            <div class="box-title">展示列</div>
            <div class="hr"></div>
            <span class="checkbox" @click="selectAllCol('amberCol')">全选</span>
            <span v-for="(val, key) in amberColName" :key="key" class="checkbox" :class="amberCol[key] ? 'active' : ''" @click="amberCol[key] = !amberCol[key]">{{ val }}</span>
          </div>
          <div class="box">
            <div class="box-title">筛选</div>
            <div class="hr"></div>
            <div class="checkbox-contain">
              <span class="checkbox" v-for="n in 3" :key="n" :class="amberFilter.rarity[n] ? 'active' : ''" @click="amberFilter.rarity[n] = !amberFilter.rarity[n]">{{ n }}星</span>
            </div>
            <div class="checkbox-contain">
              <span class="checkbox" v-for="(val, key) in amberFilter.origin" :key="key" :class="val.flag ? 'active' : ''" @click="val.flag = !val.flag">{{ val.name }}</span>
            </div>
          </div>
        </div>
        <div v-show="navId === 10">
          <div class="box">
            <div class="box-title">展示列</div>
            <div class="hr"></div>
            <span class="checkbox" @click="selectAllCol('condimentCol')">全选</span>
            <span v-for="(val, key) in condimentColName" :key="key" class="checkbox" :class="condimentCol[key] ? 'active' : ''" @click="condimentCol[key] = !condimentCol[key]">{{ val }}</span>
          </div>
          <div class="box">
            <div class="box-title">筛选</div>
            <div class="hr"></div>
            <div class="checkbox-contain">
              <span class="checkbox" v-for="n in 3" :key="n" :class="condimentFilter.rarity[n] ? 'active' : ''" @click="condimentFilter.rarity[n] = !condimentFilter.rarity[n]">{{ n }}星</span>
            </div>
            <div class="checkbox-contain">
              <span class="checkbox" v-for="(val, key) in condimentFilter.skillType" :key="key" :class="val.flag ? 'active' : ''" @click="checkCondiSkillType(key)">{{ val.name }}</span>
              <span class="checkbox" @click="selectAllFlags('condimentFilter.skillType')">全选</span>
              <el-switch v-model="condiment_radio" active-color="#82a1b0" active-text="单选" @change="changeCondimentRadio" inactive-color="#ddd"></el-switch>
              <el-switch v-model="condiment_concurrent" active-color="#82a1b0" active-text="同时" @change="changeCondimentConcurrent" inactive-color="#ddd"></el-switch>
            </div>
          </div>
        </div>
        <div v-show="navId === 4">
          <div class="box">
            <div class="box-title">展示列</div>
            <div class="hr"></div>
            <span class="checkbox" @click="selectAllCol('decorationCol')">全选</span>
            <span v-for="(val, key) in decorationColName" :key="key" class="checkbox" :class="decorationCol[key] ? 'active' : ''" @click="decorationCol[key] = !decorationCol[key]">{{ val }}</span>
          </div>
          <div class="box">
            <div class="box-title">筛选</div>
            <div class="hr"></div>
            <div class="checkbox-contain">
              <el-select v-model="decorationFilter.timeIds" multiple collapse-tags filterable size="mini" placeholder="选择冷却时间" style="width: 130px;">
                <el-option v-for="item in decoTimeList" :key="item.id" :label="item.name" :value="item.id"></el-option>
              </el-select>
            </div>
            <div class="checkbox-contain" style="margin-bottom: 210px;">
              <span v-for="(item, i) in decorationFilter.position" :key="item.name" class="checkbox" :class="item.flag ? 'active' : ''" @click="checkPosition(i)">{{ item.name }}</span>
              <span class="checkbox" @click="selectAllFlags('decorationFilter.position')">全选</span>
              <el-switch v-model="decoration_radio" active-color="#82a1b0" active-text="单选" @change="changeDecorationRadio" inactive-color="#ddd"></el-switch>
            </div>
          </div>
        </div>
      </div>
    </el-drawer>

    <div v-if="[2, 3, 4, 10, 12].indexOf(navId) > -1" class="suspend icon-btn" @click="rightBar = true">
      <i class="el-icon-search"></i>
    </div>

    <el-dialog top="160px" :show-close="false" :visible.sync="settingVisible" width="270px">
      <div class="input-box" v-show="navId==2">
        <span class="label">厨师分页</span>
        <el-select size="mini" v-model="chefsPageSize">
          <el-option v-for="item in page_list" :key="item.id" :label="item.name" :value="item.id"></el-option>
        </el-select>
      </div>
      <div class="input-box" v-show="navId==3">
        <span class="label">厨具分页</span>
        <el-select size="mini" v-model="equipsPageSize">
          <el-option v-for="item in page_list" :key="item.id" :label="item.name" :value="item.id"></el-option>
        </el-select>
      </div>
      <div class="input-box" v-show="navId==12">
        <span class="label">遗玉分页</span>
        <el-select size="mini" v-model="ambersPageSize">
          <el-option v-for="item in page_list" :key="item.id" :label="item.name" :value="item.id"></el-option>
        </el-select>
      </div>
      <div class="input-box" v-show="navId==4">
        <span class="label">装修分页</span>
        <el-select size="mini" v-model="decorationsPageSize">
          <el-option v-for="item in page_list" :key="item.id" :label="item.name" :value="item.id"></el-option>
        </el-select>
      </div>
      <div class="input-box" v-show="navId==10">
        <span class="label">调料分页</span>
        <el-select size="mini" v-model="condimentsPageSize">
          <el-option v-for="item in page_list" :key="item.id" :label="item.name" :value="item.id"></el-option>
        </el-select>
      </div>
      <div class="input-box" v-show="navId==6">
        <span class="label">任务分页</span>
        <el-select size="mini" v-model="questsPageSize">
          <el-option v-for="item in page_list" :key="item.id" :label="item.name" :value="item.id"></el-option>
        </el-select>
      </div>
      <div class="input-box" v-if="[2,3,4,6,10,12].indexOf(navId) < 0">
        <span class="label">每页行数</span>
        <el-select size="mini" v-model="chefsPageSize">
          <el-option v-for="item in page_list" :key="item.id" :label="item.name" :value="item.id"></el-option>
        </el-select>
      </div>
      <div style="color:#909399;font-size:13px;margin-top:8px;">除【遗玉】页不建议选所有，会卡</div>
    </el-dialog>
  </aside>

  <div class="extra-header"></div>
  <section class="header">
    <i class="icon-btn el-icon-s-operation" @click="leftBar = !leftBar"></i>
    <div class="notice" v-if="navId == 4 && decoSelectText && decoSelectId.length > 0">{{ decoSelectText }}</div>
    <span class="right">
      <i v-if="[2, 3, 4, 10, 12].indexOf(navId) > -1" class="icon-btn el-icon-search" style="margin-left: 6px;" @click="rightBar = true"></i>
      <i class="icon-btn el-icon-s-tools" @click="settingVisible = true"></i>
    </span>
  </section>

  <section class="body">
    <div v-if="navId === 0" class="info-box" :style="'height: '+ boxHeight + 'px; padding: 0px;'">
      <div style="padding: 15px 10px 0 10px">
        <div class="title-box">
          <div class="img-title"><img src="https://h5.baochaojianghu.com/images/saltFish.png" alt="咸公主"></div>
          <div class="ng-contain">
            <h2 class="ng-title">个人爱好[白菜菊花图鉴]</h2>
            <div class="ng-author">by 小鱼、L</div>
            <div class="ng-content">欢迎使用，请点击左上角 <i class="el-icon-s-operation"></i> 键选择相应功能使用。</div>
          </div>
        </div>
        <div class="title">最近更新</div>
        <div class="hr"></div>
        <div class="box-body">
          <div class="p">本站在白菜菊花界面上增加了【探索】：菜园 / 玉片 / 调料各地 4 人采集。</div>
          <div class="p">{{ dataStatus }}</div>
        </div>
        <div class="title">常见问题</div>
        <div class="hr"></div>
        <div class="box-body">
          <div class="p">
            <p>Q: 我要怎么把我有的菜谱、厨师导入到图鉴里呢？<br></p>
            <p>A: 游戏内点击左上角昵称，然后点击<span class="code">设置</span>-<span class="code">白菜菊花</span>获取校验码，然后将校验码填入本图鉴的【个人】页，使用<span class="code">官方数据导入</span>功能导入即可</p>
          </div>
        </div>
      </div>
    </div>

    <div v-show="navId === 2">
      <div class="search-box">
        <el-input size="small" prefix-icon="el-icon-search" placeholder="名字 技能 修炼技能 来源 心法盘 厨具" v-model="chefFilter.chefKeyword"></el-input>
      </div>
      <el-table :key="'chef-'+tableKey" :data="chefsPage" style="width: 100%" :height="tableHeight" v-if="tableShow">
        <el-table-column fixed label="" width="60" v-if="chefCol.img">
          <template slot-scope="scope"><div class="icon-chef" :class="'chef_' + scope.row.chefId"></div></template>
        </el-table-column>
        <el-table-column fixed sortable prop="name" label="名字" width="67"></el-table-column>
        <el-table-column sortable prop="rarity_show" label="星" min-width="80" v-if="chefCol.rarity"></el-table-column>
        <el-table-column sortable prop="Stirfry_show" label="炒" min-width="48" v-if="chefCol.skills"></el-table-column>
        <el-table-column sortable prop="Boil_show" label="煮" min-width="48" v-if="chefCol.skills"></el-table-column>
        <el-table-column sortable prop="Knife_show" label="切" min-width="48" v-if="chefCol.skills"></el-table-column>
        <el-table-column sortable prop="Fry_show" label="炸" min-width="48" v-if="chefCol.skills"></el-table-column>
        <el-table-column sortable prop="Bake_show" label="烤" min-width="48" v-if="chefCol.skills"></el-table-column>
        <el-table-column sortable prop="Steam_show" label="蒸" min-width="48" v-if="chefCol.skills"></el-table-column>
        <el-table-column sortable prop="skill" label="技能" min-width="130" v-if="chefCol.skill"></el-table-column>
        <el-table-column sortable prop="meat" label="肉" min-width="48" v-if="chefCol.gather"></el-table-column>
        <el-table-column sortable prop="creation" label="面" min-width="48" v-if="chefCol.gather"></el-table-column>
        <el-table-column sortable prop="veg" label="菜" min-width="48" v-if="chefCol.gather"></el-table-column>
        <el-table-column sortable prop="fish" label="鱼" min-width="48" v-if="chefCol.gather"></el-table-column>
        <el-table-column sortable prop="origin" label="来源" min-width="100" v-if="chefCol.origin"></el-table-column>
        <el-table-column sortable prop="ultimateSkillShow" label="修炼技能" min-width="130" v-if="chefCol.ultimateSkill"></el-table-column>
        <el-table-column prop="equipName" label="厨具" min-width="90" v-if="chefCol.chefEquip"></el-table-column>
        <el-table-column prop="amberText" label="遗玉" min-width="120" v-if="chefCol.diskDesc"></el-table-column>
        <el-table-column sortable prop="got" label="已有" min-width="68" v-if="chefCol.got">
          <template slot-scope="scope">
            <el-checkbox v-model="scope.row.checked" @change="changeGot($event, scope.row.chefId)"></el-checkbox>
          </template>
        </el-table-column>
        <el-table-column label="" min-width="1"></el-table-column>
      </el-table>
      <div class="pagination">
        <el-pagination background small :page-size="chefsPageSize" :current-page.sync="chefsCurPage" :pager-count="5" layout="total, prev, pager, next" :total="chefsView.length"></el-pagination>
      </div>
    </div>

    <div v-show="navId === 3">
      <div class="search-box">
        <el-input size="small" prefix-icon="el-icon-search" placeholder="名字 技能 来源" v-model="equipFilter.equipKeyword"></el-input>
      </div>
      <el-table :key="'equip-'+tableKey" :data="equipsPage" style="width: 100%" :height="tableHeight" v-if="tableShow">
        <el-table-column fixed label="" width="45" v-if="equipCol.img">
          <template slot-scope="scope"><div class="icon-equip" :class="'equip_' + scope.row.id"></div></template>
        </el-table-column>
        <el-table-column fixed sortable prop="name" label="名字" width="80"></el-table-column>
        <el-table-column sortable prop="rarity_show" label="星" min-width="55" v-if="equipCol.rarity"></el-table-column>
        <el-table-column sortable prop="skill" label="技能" min-width="155" v-if="equipCol.skill"></el-table-column>
        <el-table-column sortable prop="origin" label="来源" min-width="100" v-if="equipCol.origin"></el-table-column>
        <el-table-column prop="wornText" label="装备于" min-width="100"></el-table-column>
        <el-table-column label="" min-width="1"></el-table-column>
      </el-table>
      <div class="pagination">
        <el-pagination background small :page-size="equipsPageSize" :current-page.sync="equipsCurPage" :pager-count="5" layout="total, prev, pager, next" :total="equipsView.length"></el-pagination>
      </div>
    </div>

    <div v-show="navId === 12">
      <div class="search-box">
        <el-input size="small" prefix-icon="el-icon-search" placeholder="名字 技能 来源" v-model="amberFilter.amberKeyword"></el-input>
      </div>
      <el-table :key="'amber-'+tableKey" :data="ambersPage" style="width: 100%" :height="tableHeight" v-if="tableShow">
        <el-table-column fixed label="" width="45" v-if="amberCol.img">
          <template slot-scope="scope"><div class="icon-amber" :class="'amber_' + scope.row.id"></div></template>
        </el-table-column>
        <el-table-column fixed sortable prop="name" label="名字" width="80"></el-table-column>
        <el-table-column sortable prop="rarity_show" label="星" min-width="55" v-if="amberCol.rarity"></el-table-column>
        <el-table-column sortable prop="color" label="颜色" min-width="55" v-if="amberCol.color"></el-table-column>
        <el-table-column sortable prop="skill" label="技能" min-width="155" v-if="amberCol.skill"></el-table-column>
        <el-table-column sortable prop="amplification" label="成长" min-width="55" v-if="amberCol.amplification"></el-table-column>
        <el-table-column sortable prop="origin" label="来源" min-width="100" v-if="amberCol.origin"></el-table-column>
        <el-table-column prop="wornText" label="镶嵌于" min-width="100"></el-table-column>
        <el-table-column label="" min-width="1"></el-table-column>
      </el-table>
      <div class="pagination">
        <el-pagination background small :page-size="ambersPageSize" :current-page.sync="ambersCurPage" :pager-count="5" layout="total, prev, pager, next" :total="ambersView.length"></el-pagination>
      </div>
    </div>

    <div v-show="navId === 4">
      <div class="search-box">
        <el-row>
          <el-col :span="4">
            <span class="button" @click="emptyDeco">清空<i class="el-icon-delete el-icon--right"></i></span>
          </el-col>
          <el-col :span="8">
            <el-select placeholder="选择套装" @change="selectSuit" size="small" class="left right" v-model="decoSuit">
              <el-option v-for="(item, i) in suits" :key="i" :label="item" :value="item"></el-option>
            </el-select>
          </el-col>
          <el-col :span="12">
            <el-input size="small" prefix-icon="el-icon-search" placeholder="名字 套装 来源" v-model="decorationFilter.keyword"></el-input>
          </el-col>
        </el-row>
      </div>
      <el-table :key="'deco-'+tableKey" :data="decorationsPage" style="width: 100%" :height="tableHeight" v-if="tableShow" highlight-current-row @row-click="checkDecoRow">
        <el-table-column fixed prop="checkbox" width="35" v-if="decorationCol.checkbox">
          <template slot-scope="scope">
            <div @click.stop>
              <el-checkbox v-model="scope.row.checked" @change="handleDecoSelect($event, scope.row)"></el-checkbox>
            </div>
          </template>
        </el-table-column>
        <el-table-column fixed sortable prop="id" label="No." width="55" v-if="decorationCol.id"></el-table-column>
        <el-table-column fixed label="" width="49" v-if="decorationCol.img">
          <template slot-scope="scope"><div style="zoom: 0.6;" class="icon-decoration" :class="'decoration_' + scope.row.icon"></div></template>
        </el-table-column>
        <el-table-column fixed sortable prop="name" label="名字" width="80"></el-table-column>
        <el-table-column sortable prop="gold_show" label="加成" min-width="64" v-if="decorationCol.gold"></el-table-column>
        <el-table-column sortable prop="tipMin" label="最小玉" min-width="78" v-if="decorationCol.tipMin"></el-table-column>
        <el-table-column sortable prop="tipMax" label="最大玉" min-width="78" v-if="decorationCol.tipMax"></el-table-column>
        <el-table-column sortable prop="tipTime_show" label="冷却" min-width="78" v-if="decorationCol.tipTime"></el-table-column>
        <el-table-column sortable prop="effMin" label="最小玉/天" min-width="95" v-if="decorationCol.effMin"></el-table-column>
        <el-table-column sortable prop="effMax" label="最大玉/天" min-width="95" v-if="decorationCol.effMax"></el-table-column>
        <el-table-column sortable prop="effAvg" label="平均玉/天" min-width="95" v-if="decorationCol.effAvg"></el-table-column>
        <el-table-column sortable prop="position" label="位置" min-width="64" v-if="decorationCol.position"></el-table-column>
        <el-table-column sortable prop="suit" label="套装" min-width="90" v-if="decorationCol.suit"></el-table-column>
        <el-table-column sortable prop="suitGold_show" label="套装加成" min-width="90" v-if="decorationCol.suitGold"></el-table-column>
        <el-table-column sortable prop="origin" label="来源" min-width="100" v-if="decorationCol.origin"></el-table-column>
        <el-table-column label="" min-width="1"></el-table-column>
      </el-table>
      <div class="pagination">
        <el-pagination background small :page-size="decorationsPageSize" :current-page.sync="decorationsCurPage" :pager-count="5" layout="total, prev, pager, next" :total="decorationsView.length"></el-pagination>
      </div>
    </div>

    <div v-show="navId === 6">
      <div class="search-box">
        <el-input size="small" prefix-icon="el-icon-search" placeholder="编号 任务 奖励" v-model="questsKeyword" class="input-with-select">
          <el-select slot="prepend" v-model="questsType" filterable placeholder="请选择任务类型" size="small">
            <el-option v-for="item in questsTypes" :key="item" :label="item" :value="item"></el-option>
          </el-select>
        </el-input>
      </div>
      <el-table :key="'quest-'+tableKey" :data="questsPage" style="width: 100%" :height="tableHeight" v-if="tableShow">
        <el-table-column prop="questIdDisp" label="No." width="63" sortable></el-table-column>
        <el-table-column prop="preId" label="前置" width="50" v-if="questsType === '旧支线任务'"></el-table-column>
        <el-table-column prop="goal" label="任务"></el-table-column>
        <el-table-column prop="rewards_show" label="奖励" width="110"></el-table-column>
      </el-table>
      <div class="pagination">
        <el-pagination background small :page-size="questsPageSize" :current-page.sync="questsCurPage" :pager-count="5" layout="total, prev, pager, next" :total="questsView.length"></el-pagination>
      </div>
    </div>

    <div v-show="navId === 10">
      <div class="search-box">
        <el-input size="small" prefix-icon="el-icon-search" placeholder="名字 技能 来源" v-model="condimentFilter.condimentKeyword"></el-input>
      </div>
      <el-table :key="'condi-'+tableKey" :data="condimentsPage" style="width: 100%" :height="tableHeight" v-if="tableShow">
        <el-table-column fixed sortable prop="condimentId" label="No." width="55" v-if="condimentCol.id"></el-table-column>
        <el-table-column fixed label="" width="45" v-if="condimentCol.img">
          <template slot-scope="scope"><div class="icon-condiment" :class="'condiment_' + scope.row.condimentId"></div></template>
        </el-table-column>
        <el-table-column fixed sortable prop="name" label="名字" width="65"></el-table-column>
        <el-table-column sortable prop="rarity_show" label="星" min-width="55" v-if="condimentCol.rarity"></el-table-column>
        <el-table-column sortable prop="skill" label="技能" min-width="155" v-if="condimentCol.skill"></el-table-column>
        <el-table-column sortable prop="origin" label="来源" min-width="100" v-if="condimentCol.origin"></el-table-column>
        <el-table-column label="" min-width="1"></el-table-column>
      </el-table>
      <div class="pagination">
        <el-pagination background small :page-size="condimentsPageSize" :current-page.sync="condimentsCurPage" :pager-count="5" layout="total, prev, pager, next" :total="condimentsView.length"></el-pagination>
      </div>
    </div>

    <div v-show="navId === 7">
      <div class="cal-box">
        <div class="cal" :style="'height: '+ (boxHeight - 50) + 'px;'">
          <div class="ctl-box">
            <el-select size="mini" v-model="activeOpenId" style="width:158px">
              <el-option v-for="item in openPresets" :key="item.id" :label="item.name" :value="item.id"></el-option>
            </el-select>
            <span class="btn" @click="newOpen">保存为新方案</span>
            <span class="btn" @click="saveOpen">保存</span>
            <span class="btn load" @click="clearOpen">清空</span>
            <span class="btn" @click="checkNav(8)">个人</span>
          </div>
          <div class="tips">上场 3 人。点厨师格换人，点厨具 / 遗玉格更换。光环对场上所有人生效。</div>
          <div class="cal-contain">
            <div class="chef-box" v-for="(slot, index) in currentOpen.slots" :key="'open-'+index">
              <div class="chef" :class="calFocus==='Chef_'+index ? 'focus' : ''" @click="openPicker('open', index)">
                <div v-if="chefById(slot)" class="show">
                  <div class="show-chef">
                    <div class="name-img">
                      <span class="name">{{ chefById(slot).name }}</span>
                      <div class="img icon-chef" :class="'chef_' + chefById(slot).id">
                        <span v-show="chefById(slot).isPartialUlt || chefById(slot).isSelfUlt" class="ultimate">满</span>
                      </div>
                    </div>
                    <div class="skill-box">
                      <div v-for="(val, key) in chefById(slot).cook" v-show="val" :key="key">
                        <span class="label">{{ skill_map[key] }}</span>
                        <span class="val">{{ val }}</span>
                      </div>
                    </div>
                  </div>
                  <div class="show-condiment">{{ chefById(slot).skillDesc }}</div>
                </div>
                <div class="chef-empty" v-else>
                  <i class="el-icon-plus"></i>
                  <span>选择厨师&调料</span>
                </div>
              </div>
              <div class="equip" :class="calFocus==='Equip_'+index ? 'focus' : ''" @click="openPicker('equip', index)">
                <div class="show" v-if="chefById(slot) && chefById(slot).equipName"><span class="name">{{ chefById(slot).equipName }}</span></div>
                <div class="equip-empty" v-else><i class="el-icon-plus"></i></div>
              </div>
              <div class="rep-box">
                <div class="rep" v-for="(amber, ai) in (chefById(slot) && chefById(slot).amberSlots || [{color:'红'},{color:'绿'},{color:'蓝'}])" :key="ai" @click="openPicker('amber', index, ai)">
                  <div class="show" v-if="amber.id">
                    <div class="img icon-amber" :class="'amber_' + amber.id"></div>
                    <div class="rep-detail">{{ amber.name }}</div>
                  </div>
                  <div class="rep-empty" v-else><i class="el-icon-plus"></i></div>
                </div>
              </div>
            </div>
          </div>
          <div class="tool" v-html="openPreviewHtml"></div>
        </div>
      </div>
    </div>

    <div v-show="navId === 5">
      <div class="cal-box">
        <div class="cal" :style="'height: '+ (boxHeight - 50) + 'px;'">
          <div class="ctl-box">
            <el-select size="mini" v-model="gatherGroup" style="width:100px" @change="onGatherGroup">
              <el-option label="菜园区" value="veg"></el-option>
              <el-option label="玉片区" value="jade"></el-option>
              <el-option label="调料区" value="cond"></el-option>
            </el-select>
            <el-select size="mini" v-model="gatherArea" style="width:140px">
              <el-option v-for="a in gatherAreas" :key="a.name" :label="a.name + (a.label ? '（'+a.label+'）' : '')" :value="a.name"></el-option>
            </el-select>
            <span class="btn" @click="recommendGather">按效率推荐</span>
            <span class="btn load" @click="clearGather">清空此地</span>
          </div>
          <div class="tips">每个地点 4 人，同一厨师不能同时去两个地点。</div>
          <div class="cal-contain four">
            <div class="chef-box" v-for="(slot, index) in currentGather" :key="'g-'+index">
              <div class="chef" @click="openPicker('gather', index)">
                <div v-if="chefById(slot)" class="show">
                  <div class="show-chef">
                    <div class="name-img">
                      <span class="name">{{ chefById(slot).name }}</span>
                      <div class="img icon-chef" :class="'chef_' + chefById(slot).id">
                        <span v-show="chefById(slot).isPartialUlt || chefById(slot).isSelfUlt" class="ultimate">满</span>
                      </div>
                    </div>
                  </div>
                  <div class="show-condiment">肉{{ chefById(slot).gather.meat }} 鱼{{ chefById(slot).gather.fish }} 菜{{ chefById(slot).gather.veg }} 面{{ chefById(slot).gather.creation }}</div>
                </div>
                <div class="chef-empty" v-else>
                  <i class="el-icon-plus"></i>
                  <span>选择厨师</span>
                </div>
              </div>
            </div>
          </div>
          <div class="tool" v-html="gatherPreviewHtml"></div>
        </div>
      </div>
    </div>

    <div v-if="navId === 8">
      <div class="ultimate-box" :style="'height: '+ boxHeight + 'px;'">
        <div class="title">官方数据导入（厨子满级满阶才会导入）</div>
        <div class="hr"></div>
        <div class="box-body">
          <div class="btn-box" style="margin-top: 10px;">
            <el-input placeholder="在游戏设置页面获取校验码" v-model="userDataCode" size="mini" style="width: 180px;"></el-input>
            <span class="btn" style="line-height: 25px;" @click="syncUserData">导入数据</span>
            <el-checkbox v-model="importAmberAndEquip">遗玉厨具数据</el-checkbox>
          </div>
        </div>
        <div class="title">个人装饰/修炼数据配置</div>
        <div class="hr"></div>
        <div class="box-body">
          <div class="contain">
            <div class="contain-title">家具</div>
            <div class="prepend-input append-input">
              <div class="input-box">
                <div class="prepend">装饰加成</div>
                <input type="number" v-model.lazy="userUltimate.decoBuff" @change="saveUltimate">
                <div class="append">%</div>
              </div>
            </div>
          </div>
          <div class="contain">
            <div class="contain-title">单技法</div>
            <div class="prepend-input" v-for="(val, key) in skill_map" :key="key">
              <div class="input-box">
                <div class="prepend">{{ val }}</div>
                <input type="number" v-model.lazy="userUltimate[ultKey(key)]" @change="saveUltimate">
              </div>
            </div>
          </div>
          <div class="contain">
            <div class="contain-title">全技法</div>
            <div class="prepend-input">
              <div class="input-box">
                <div class="prepend">男厨</div>
                <input type="number" v-model.lazy="userUltimate.Male" @change="saveUltimate">
              </div>
            </div>
            <div class="prepend-input">
              <div class="input-box">
                <div class="prepend">女厨</div>
                <input type="number" v-model.lazy="userUltimate.Female" @change="saveUltimate">
              </div>
            </div>
            <div class="prepend-input">
              <div class="input-box">
                <div class="prepend">全体</div>
                <input type="number" v-model.lazy="userUltimate.All" @change="saveUltimate">
              </div>
            </div>
          </div>
          <div class="contain">
            <div class="contain-title">菜谱上限</div>
            <div class="prepend-input" v-for="val in [1, 2, 3, 4, 5]" :key="'limit-' + val">
              <div class="input-box">
                <div class="prepend">{{ val }}星</div>
                <input type="number" v-model.lazy="userUltimate['MaxLimit_' + val]" @focus="scrollUser(140)" @change="saveUltimate">
              </div>
            </div>
          </div>
          <div class="contain">
            <div class="contain-title">菜谱售价</div>
            <div class="prepend-input append-input" v-for="val in [1, 2, 3, 4, 5]" :key="'price-' + val">
              <div class="input-box">
                <div class="prepend">{{ val }}星</div>
                <input type="number" v-model.lazy="userUltimate['PriceBuff_' + val]" @focus="scrollUser(250)" @change="saveUltimate">
                <div class="append">%</div>
              </div>
            </div>
          </div>
          <div class="contain">
            <div class="contain-title">特殊</div>
            <span class="select-box" style="width: 250px; position: relative; z-index: 1003;">
              <el-select
                v-model="userUltimate.Partial.id"
                multiple
                filterable
                collapse-tags
                size="mini"
                placeholder="上场类技能已修炼"
                @focus="scrollUser(410)"
                @change="onSkillSelect('Partial')"
              >
                <el-option v-for="item in partialSkillList" :key="item.id" :label="item.name + ' ' + item.subName" :value="item.id"></el-option>
              </el-select>
            </span>
            <span class="select-box" style="width: 250px;">
              <el-select
                v-model="userUltimate.Self.id"
                multiple
                filterable
                collapse-tags
                size="mini"
                placeholder="个人类技能已修炼"
                @focus="scrollUser(430)"
                @change="onSkillSelect('Self')"
              >
                <el-option v-for="item in selfSkillList" :key="item.id" :label="item.name + ' ' + item.subName" :value="item.id"></el-option>
              </el-select>
            </span>
          </div>
          <div class="btn-box" style="padding-left: 3px;">
            <span class="btn" @click="setAllUltimate">全修炼</span>
            <span class="btn" @click="setAllExistUltimate">全修炼（已有）</span>
            <span class="btn" @click="emptyUserUltimate">清空个人数据</span>
            <span class="btn" @click="emptyAmberData">清空遗玉数据</span>
            <span class="btn" @click="emptyEquipData">清空厨具数据</span>
          </div>
        </div>
        <div class="title">个人数据云端暂存</div>
        <div class="hr"></div>
        <div class="box-body">
          <div class="btn-box" style="margin-top: 10px;">
            <span class="btn" @click="uploadData">上传个人数据</span>
            <span class="btn" @click="downloadData">获取云端数据</span>
            <span class="btn" @click="loadLocal">载入本地数据</span>
            <span class="btn" @click="updateCatalog">更新图鉴</span>
            <div style="margin-top: 5px;">{{ cloudIdShow }}</div>
          </div>
        </div>
        <div class="title">L版图鉴数据转移-手动复制版</div>
        <div class="hr"></div>
        <div class="box-body">
          <el-input type="textarea" :rows="10" placeholder="请贴入L版图鉴的个人数据。" v-model="LDataText" @focus="scrollUser(1000)"></el-input>
          <div class="btn-box" style="margin-top: 10px;">
            <span class="btn" @click="importLDataText">导入L版图鉴数据</span>
          </div>
        </div>
        <div class="title">L版图鉴数据转移-文件版</div>
        <div class="hr"></div>
        <div class="box-body">
          <div class="btn-box" style="margin-top: 10px;">
            <span class="btn" @click="openLFile">导入L版图鉴数据文件</span>
            <input id="Lfile" style="display: none" type="file" accept="text/plain" @change="importLData">
          </div>
        </div>
        <div class="title">个人数据备份-手动复制版</div>
        <div class="hr"></div>
        <div class="box-body">
          <el-input
            type="textarea"
            :rows="10"
            placeholder="请贴入备份的个人数据。（与L的网页版图鉴数据不是同一套，要导入L版数据用上面的L版图鉴数据转移功能，首次使用需自行录入修炼/装饰数据，菜谱/厨师已有数据可以自动生成，具体见首页的常见问题。）"
            v-model="userDataText"
            @focus="scrollUser(530)"
          ></el-input>
          <div class="btn-box" style="margin-top: 10px;">
            <span class="btn" @click="exportUserDataText">生成个人数据</span>
            <span class="btn" @click="importUserDataText">导入个人数据</span>
          </div>
        </div>
        <div class="title">个人数据备份-文件版（有的浏览器不支持）</div>
        <div class="hr"></div>
        <div class="box-body">
          <div class="btn-box" style="margin-top: 10px;">
            <span class="btn" @click="exportUserData">下载个人数据文件</span>
            <span class="btn" @click="openFile">导入个人数据文件</span>
            <input id="file" style="display: none" type="file" accept="text/plain,.json" @change="importUserData">
          </div>
        </div>
      </div>
    </div>

    <div v-if="[1,9,11].indexOf(navId) > -1" class="info-box" :style="'height: '+ boxHeight + 'px;'">
      <div style="padding: 15px 10px 0 10px">
        <div class="title">{{ navTitle }}</div>
        <div class="hr"></div>
        <div class="box-body">
          <div class="p">此页与白菜菊花一致的完整功能仍在对照中。厨师 / 厨具 / 遗玉 / 装修 / 调料 / 任务 / 计算器 / 探索 / 个人已经按原站接好。</div>
          <div class="p">探索在左侧【探索】；开业在【计算器】。</div>
        </div>
      </div>
    </div>
  </section>

  <el-dialog :title="pickerTitle" :visible.sync="pickerShow" width="90%">
    <el-input size="small" prefix-icon="el-icon-search" v-model="pickerKeyword" placeholder="搜索"></el-input>
    <div class="picker-grid">
      <div class="checkbox" v-for="item in pickerList" :key="item.id" @click="assignPicked(item.id)">
        {{ item.name }}
        <div style="font-size:12px;color:#909399;">{{ item.sub }}</div>
      </div>
    </div>
    <span slot="footer">
      <el-button @click="assignPicked(null)">清空</el-button>
      <el-button @click="pickerShow=false">关闭</el-button>
    </span>
  </el-dialog>
</div>

<script src="https://h5.baochaojianghu.com/js/vue.min.js"></script>
<script src="https://h5.baochaojianghu.com/ele/index.js"></script>
<script src="js/engine.js"></script>
<script src="js/app.js"></script>
</body>
</html>
